nav {
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 10% 50%;
}